<% include partials/header%>
<div class="row">
  <div class="col-sm-3">
  </div>
    <div class="col-sm-9" "off-sm-3">
      <div class="top-padded">
        <div class="ui top attached segment">
          <div class="ui divided items">
              <% blogs.forEach(function(blog){ %>
                  <div class="item">
                      <div class="image">
                          <img src="<%=blog.image%>">
                      </div>
                      <div class="content">
                          <a class="header" href="/blogs/<%=blog._id %>"><%=blog.title%></a>
                          <div class="meta">
                              <span><%= blog.created.toDateString() %></span>
                          </div>
                          <div class="description">
                              <p><%-blog.body.substring(0,250)%>...</p>
                          </div>
                          <div class="extra">
                              <a class="ui floated basic violet button" href="/blogs/<%= blog._id %>">Read More!<i class="right chevron icon"></i></a>
                          </div>
                      </div>
                  </div>
              <% }) %>
          </div>
      </div>
    </div>
  </div>
</div>

</div>





<% include partials/footer%>
