<% include partials/header%>
    <div class="ui main text container segment">
        <div class="ui huge header">New Blog</div>
    
        <form action="/blogs" method="POST" class="ui form">
            <div class="field">
                <label>Title</label>
                <input type="text" name="blog[title]" placeholder="Title">
            </div>
            <div class="field">
                <label>Image</label>
                <input type="text" name="blog[image]" placeholder="Image">
            </div>
            <div class="field">
                <label>Post Content</label>
                <textarea name="blog[body]"></textarea>
                </div>
            <input type="submit" class="ui positive big basic button">
        </form>
    </div>

<% include partials/footer%>
