<% include partials/header%>
    <div class="ui main text container segment">
        <div class="ui huge header"><%= blog.title %></div>
        <div class="ui top attached">
            <div class="item">
                <img class="ui centered rounded image" src="<%=blog.image%>" >
                <div class="content">
                   <span><%= blog.created.toDateString() %></span> 
                </div>
                <div class="description">
                    <p><%= blog.body %></p>
                </div>
            </div>
        </div>
        <a class="ui orange basic button" href="/blogs/<%= blog._id %>/edit">Edit</a>
        <form id="delete" method="POST" action="/blogs/<%= blog._id %>?_method=DELETE">
                    <button class="ui red basic button">DELETE!</button>
                </form>
    </div>

<% include partials/footer%>
